/* Make image align left */
.single .content figure img {
	margin: unset;
	border: 0.1px rgb(75, 75, 75) solid;
}

/* Increase line height */
.single .content p {
	margin: 1rem 0;
}

.page {
	max-width: none !important;
}